#menu {
  background-color: lightgray;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-left {
  display: flex;
  align-items: center;
}

.menu-right {
  display: flex;
  align-items: center;
}

#menu a {
  margin-right: 10px;
}

#menu p {
  margin-right: 30px;
}

#content {
  flex: 1;
}

#footer {
  background-color: #202123;
  font-size: 12px;
  padding: 14px;
  color: #F7F7F8;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-column {
  width: 48%;
}


.container {
  margin: 20px;
}

.event-table {
    width: 100%;
    border-collapse: collapse;
}

.event-table th, .event-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.event-table th {
    background-color: #f2f2f2;
}

.event-table tr:hover {
    background-color: #f5f5f5;
}

.event-table .btn {
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
}

.event-table .btn:hover {
    background-color: #45a049;
}

