<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            color: #333;
        }

        #menu {
            background-color: #343a40;
            padding: 10px;
        }

        .menu-item {
            color: #fff;
            margin-right: 10px;
        }

        .menu-right .menu-item {
            margin-left: 10px;
        }

        #content {
            padding: 20px;
        }

        #footer {
            background-color: #343a40;
            color: #fff;
            padding: 20px;
        }

        .footer-column {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">GoodRaves</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cms:user_events' %}">Moje Wydarzenia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cms:user_tickets' %}">Moje Bilety</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cms:index' %}">Wydarzenia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cms:add_event' %}">Dodaj</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:logout' %}">Wyloguj</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">Logowanie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:register' %}">Rejestracja</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div id="content">
        {% block content %}
            <!-- Page content -->
        {% endblock %}
    </div>

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam cursus est, at varius nisl pellentesque in. Pellentesque ut ligula sit amet quam scelerisque ultrices vitae ac ipsum. Vivamus vel tincidunt arcu, ut volutpat odio. Sed ut metus id nisl hendrerit eleifend. Sed auctor tortor id libero gravida tristique. Etiam venenatis, turpis in eleifend consectetur, metus purus aliquam risus, ut vestibulum arcu turpis ac sem. Praesent rutrum, ex et ultricies rhoncus, lectus nisi fringilla ex, vitae hendrerit est odio a ex. Nunc venenatis lorem at sagittis interdum.</p>
                </div>
                <div class="col">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam cursus est, at varius nisl pellentesque in. Pellentesque ut ligula sit amet quam scelerisque ultrices vitae ac ipsum. Vivamus vel tincidunt arcu, ut volutpat odio. Sed ut metus id nisl hendrerit eleifend. Sed auctor tortor id libero gravida tristique. Etiam venenatis, turpis in eleifend consectetur, metus purus aliquam risus, ut vestibulum arcu turpis ac sem. Praesent rutrum, ex et ultricies rhoncus, lectus nisi fringilla ex, vitae hendrerit est odio a ex. Nunc venenatis lorem at sagittis interdum.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
