
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

    <div id="menu">
        <div class="menu-left">
            <p class="menu-item">Witaj, {{ user.username}}</p>
            <a href="{% url 'cms:index' %}" class="menu-item">Wydarzenia</a>
            <a href="{% url 'cms:add_event' %}" class="menu-item">Dodaj</a>
            <a href="#" class="menu-item">Kontakt</a>
        </div>
        <div class="menu-right">
            {% if user.is_authenticated %}
                <a href="{% url 'users:logout' %}" class="menu-item">Wyloguj</a>
            {% else %}
                <a href="{% url 'users:login' %}" class="menu-item">Logowanie</a>
                <a href="#" class="menu-item">Rejestracja</a>
            {% endif %}
        </div>
    </div>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>

    <div id="footer">
        <div class="footer-column">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam cursus est, at varius nisl pellentesque in. Pellentesque ut ligula sit amet quam scelerisque ultrices vitae ac ipsum. Vivamus vel tincidunt arcu, ut volutpat odio. Sed ut metus id nisl hendrerit eleifend. Sed auctor tortor id libero gravida tristique. Etiam venenatis, turpis in eleifend consectetur, metus purus aliquam risus, ut vestibulum arcu turpis ac sem. Praesent rutrum, ex et ultricies rhoncus, lectus nisi fringilla ex, vitae hendrerit est odio a ex. Nunc venenatis lorem at sagittis interdum.</p>
        </div>
        <div class="footer-column">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam cursus est, at varius nisl pellentesque in. Pellentesque ut ligula sit amet quam scelerisque ultrices vitae ac ipsum. Vivamus vel tincidunt arcu, ut volutpat odio. Sed ut metus id nisl hendrerit eleifend. Sed auctor tortor id libero gravida tristique. Etiam venenatis, turpis in eleifend consectetur, metus purus aliquam risus, ut vestibulum arcu turpis ac sem. Praesent rutrum, ex et ultricies rhoncus, lectus nisi fringilla ex, vitae hendrerit est odio a ex. Nunc venenatis lorem at sagittis interdum.</p>
        </div>
    </div>
</body>
</html>
