{% extends 'events/base.html' %}

{% block title %}Portal eventowy - Szczegóły wydarzenia{% endblock %}

{% block content %}
    <h1>{{ event.title }}</h1>
    <p>{{ event.content }}</p>
    <p>Data dodania: {{ event.date_added }}</p>
    <p>Cena biletu: {{ event.ticket_price }}</p>
    <p>Ilość dostępnych biletów: {{ event.ticket_quantity }}</p>
    <a href="{% url 'cms:index' %}">Powrót do listy wydarzeń</a>

    {% if user.is_authenticated and event.author == user %}
        <a href="{% url 'cms:edit_event' event.id %}" class="btn btn-success btn-sm">Edytuj</a>
        <a href="{% url 'cms:buy_tickets' event.id %}" class="btn btn-success btn-sm">Kup bilet</a>
    {% endif %}
{% endblock %}
