{% extends 'events/base.html' %}

{% block title %}Portal eventowy - Strona główna{% endblock %}

{% block content %}
    <div class="container">
        <h1>Wydarzenia</h1>
        {% if events %}
        <table>
            <tr>
                <th>Tytuł</th>
                <th>Opis</th>
                <th>Data</th>
                <th></th>
            </tr>
            {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.content|truncatechars:100 }}</td>
                <td>{{ event.date_added }}</td>
                <td><a href="{% url 'cms:event_details' event.id %}" class="btn">Przejdź do wydarzenia</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Brak wydarzeń.</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Brak wydarzeń.</p>
        {% endif %}
    </div>
{% endblock %}
